/* @import '~bootstrap/dist/css/bootstrap.min.css'; */

@media screen and (min-width: 1024px) {
  myNewDivHeight {
    height: 450px;
  }
}

.divResult {
  position: fixed;
  bottom: 20px;
  left: 10px;
  width: 15%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  /* this adds the "card" effect */
  padding: 16px;
  background-color: #f1f1f1;
}

.rightAnswer {
  background-color: #D4EDDA;
  color: #155724
}

.wrongAnswer {
  background-color: #EDC1BB;
  color:#721c24
}

.noAnswer {
  background-color: #ffffff;
  color:#000000
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
